@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {

    /* Colors */
    --aqua: hsl(177, 68%, 64%);
    --darkOrange: hsl(12, 94%, 65%);
    --orange: hsl(33, 100%, 70%);
    --white: hsl(20, 33%, 98%);
    --black: hsl(244, 23%, 12%);
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Typography */

:root {
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.2em;
    letter-spacing: -0.01125rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 700;
}



/* Buttons */

.button {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125rem;
}

.button img {
    margin-right: 0.5em;
}

#iosDownloadButtonDefault {
    color: var(--white);
    background-color: var(--black);
}

#androidDownloadButtonDefault {
    color: var(--black);
    background-color: var(--white);
}

#iosDownloadButtonDefault:hover {
    background-color: var(--aqua);
}

#androidDownloadButtonDefault:hover {
    background-color: var(--orange);
}

/* General Styling */


body {
    background-image: url(/code/assets/bg-main-mobile.png);
    background-position: right 100% top -800%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
}

header, #description, footer {
    margin-inline: auto;
    width: 87.5%;
}

header {
    margin-top: 2.5em;
}

#description h1 {
    margin-top: 4rem;
}

#description p {
    margin-top: 1.25em;
    margin-bottom: 4.8125em
}

#premium-plan {
    position: relative;
    max-width: 1100px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#illustration-app {
    width: 13.0625em;
    max-width: 312px;
    z-index: 1;
}

#premium-bg {
    position: absolute;
    margin-top: 6.125em;
    width: 100%;
    height: 600px;
    background-color: var(--black);
    background-image: url(/code/assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 75%;
    border-radius: 0.75em;
}

#premium-offer {
    max-width: 446px;
    padding-inline: auto;
    color: var(--white);
    background-color: var(--darkOrange);
    border-radius: 0.75em;
    margin-top: 3em;
    z-index: 1;
    overflow: hidden;
}

#premium-offer > * {
    width: 82.5%;
    margin-inline: auto;
}

#premium-offer h2 {
    margin-top: 2.25rem;
}

#premium-offer p {
    font-size: 1.125rem;
    line-height: 1.75em;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

#price {
    display: flex;
    align-items: center;
    margin-bottom: 0.75em;
}

#price span {
    font-size: 4.0625rem;
    font-weight: bold;
    margin-right: 1rem;
}

#iosDownloadButtonDefault {
    margin-bottom: 1rem;
}

#androidDownloadButtonDefault {
    margin-bottom: 3em;
}

footer {
    margin-top: 6.4375em;
    margin-bottom: 5em;
}

#footer-description {
    
    margin-bottom: 4em;
}

#footer-description img {
    margin-bottom: 2em;
}

#footer-description strong {
    font-weight: bold;
}

.socials {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 700px) {

    html {
        font-size: 18px;
        line-height: 28px;
    }

    h1 {
        font-size: 3.5em;
    }

    body {
        display: flex;
        justify-content: center;
        background-image: url(/code/assets/bg-pattern-1.svg), url(/code/assets/bg-main-tablet.png);
        background-position: right -7.5% top -7.5%, left 100% top -100%;
        background-size: 35%, 140%;
    }

    .container {
        margin-top: 3.45em;
        width: 90%;
    }

    header, #description, footer {
        margin: 0;
    }

    #description {
        width: 29em;
    }

    #premium-plan {
        height: 834px;
        align-items: flex-start;
    }

    #illustration-app {
        width: 16.75em;
        margin-left: 3.25em;
    }

    #premium-offer {
        height: 546px;
        position: absolute;
        width: 25em;
        margin-top: 18em;
        margin-left: 14em;

    }

    #premium-bg {
        margin-top: 8.625em;
        background-position: center top -30%;
        background-size: 18.5em;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5.4375em;
    }

    #footer-description {
        width: 67.5%;
    }

}

@media (min-width: 1100px) {

    body {
        background-image: url(/code/assets/bg-pattern-1.svg),url(/code/assets/bg-main-desktop.png);
        background-size: 22.5%, 140%;
        background-position: right top -10%, left 50% bottom 70%;

    }

    .container {
        width: 75%;
    }

    h1 {
        font-size: 5.5rem;
    }

    #description {
        margin-top: 127px;
        font-size: 20px;
        width: 80%;
    }

    #premium-plan {
        margin-inline: auto;    
    }

    #illustration-app {
        width: 312px;
        margin-left: 7.5%;
        margin-bottom: 2em;
    }

    #premium-bg {
        margin-top: 17.5%;
        background-size: 28%;
        background-position: left 40.5% top -20%;
    }

    #premium-offer {
        width: 446px;
        height: 625px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 50%;
        margin-top: 27.5%;
    }

    footer {
        display: inline-grid;
        grid-template-columns: 5fr 1fr;
        margin-top: 15%;
    }

    #footer-description {
        display: inline-flex;
    }

    #footer-description img {
        margin-right: 17.5%;
    }

    .socials {
        margin-bottom: 4em;
    }
}